/*
pandas dataframe to_html() 
*/

body, html {
    margin: 1;
    /* font-family: sans-serif; */
    /* background-color: lightblue; */
}

table, td, th {
    font-size: 11pt; 
    font-family: Consolas, monospace;
    border-collapse: collapse; 
    border: 1px solid silver;
    text-align: center;
    padding-bottom: 1px;
    padding-top: 1px;
}

td {
    text-align: right;
    padding-bottom: 1px;
    padding-top: 1px;
}

tr:nth-child(even) {
    background: #E0E0E0;
}

tr:hover {
    background: silver;
    cursor: pointer;
}

.td-left-1px {
    text-align: left;
    padding-bottom: 1px;
    padding-top: 1px;
  }

.td-right-1px {
    text-align: right;
    padding-bottom: 1px;
    padding-top: 1px;
  }


.dfmystyle {
    font-size: 11pt; 
    border-collapse: collapse; 
    border: 1px solid silver;
}

.dfmystyle tr, th {
    text-align: center;
    padding-bottom: 1px;
    padding-top: 1px;
}

.dfmystyle td {
    text-align: right;
    padding-bottom: 1px;
    padding-top: 1px;
}

.dfmystyle tr:nth-child(even) {
    background: #fcfedb;
}

.dfmystyle tr:hover {
    background: silver;
    cursor: pointer;
}