<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <a href="/" > index |</a>
    <a href="/task" > task |</a>
    <a href="/meta" > meta |</a>
    <a href="/dfbokeh" > dfbokeh |</a> 
    <a href="/bokeh" > bokeh |</a> 
    <a href="/tyscript" > tyscript |</a>
    <a href="/history" target="_blank"> history</a> 
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>