<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <center>
        <a href="/" > index |</a>
        <a href="/task" > task |</a>
        <a href="/meta" > meta |</a>
        <a href="/gpt" > chatGPT|</a>
        <a href="/dfbokeh" > dfbokeh |</a> 
        <a href="/bokeh" > bokeh |</a> 
        <a href="/tyscript" target="_blank"> tyscript |</a>
        <a href="/history" target="_blank"> history |</a> 
        <a href="/tailcss" target="_blank"> tailwincss |</a> 
        <a href="/exam" target="_blank"> exam70 |</a> 
        <a href="/exam2" target="_blank"> exam02</a> 

    </center>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>