{% extends 'base.html' %}

{% block head %}
<title>chatGPT</title>
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
{% endblock %}


{% block body %}
<br>
<br>


<h1>talking with AI, GPT3</h1>
<form action="/chat" method="post">
    <input type="text" name="prompt" maxlength="3000" size="100">
    <input type="submit" value="Submit">
</form>
<div id="chat-output"></div>
<script>
    const form = document.querySelector("form");
    form.addEventListener("submit", event => {
    event.preventDefault();
    const input = form.querySelector("input");
    const prompt = input.value;
    input.value = "";
    const xhr = new XMLHttpRequest();
    xhr.open("POST", "/chat");
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.onload = () => {
        const chatOutput = document.querySelector("#chat-output");
        chatOutput.innerHTML = xhr.responseText;
    };
    xhr.send(`prompt=${encodeURIComponent(prompt)}`);
    });
</script>

{% endblock %}
