{% extends 'base.html' %}

{% block head %}
<style>
    body, html {background-color: white;}
</style>
<title>bokeh & pandas playground</title>
<meta http-equiv="refresh" content="300">
{{ js_resources|indent(4)|safe }}
{{ css_resources|indent(4)|safe }}
{{ plot_script|indent(4)|safe }}
{{ plot_script_crypto|indent(4)|safe }}
{{ plot_script_stock|indent(4)|safe }}
{{ plot_script_cash|indent(4)|safe }}
{% endblock %}

{% block body %}
<center>
    <h1>:)1</h1>
    <p>Total_all: {{total}}, last updated: {{date}}</p>
    {{ plot_div|indent(4)|safe }}
</center>
<br>

<center>
    <h1>:)2</h1>
    <p>Total_crypto: {{total_crypto}}, last updated: {{date3}}</p>
    {{ plot_div_crypto|indent(4)|safe }}
</center>
<br>

<center>
    <h1>:)3</h1>
    <p>Total_stock: {{total_stock}}, last updated: {{date2}}</p>
    {{ plot_div_stock|indent(4)|safe }}
</center>
<br>

<center>
    <h1>:)4</h1>
    <p>Total_cash: {{total_cash}}, last updated: {{date4}}</p>
    {{ plot_div_cash|indent(4)|safe }}
</center>
{% endblock %}
