{% extends 'base.html' %}

{% block head %}
<title>My transactions</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/dfstyle.css') }}">
{% endblock %}

{% block body %}
<h2>:) Transactions</h2>
{% if has_prev_page %}
<a href="{{ url_for('transaction', page=prev_page) }}">Previous</a>
{% endif %}
<a>[{{prev_page+1}}]</a>
{% if has_next_page %}
<a href="{{ url_for('transaction', page=next_page) }}">Next</a>
{% endif %}
<table>
    <thead>
        <tr>
            <th>timestamp</th>
            <th>div</th>
            <th>asset_note</th>
            <th>asset</th>
            <th>qty</th>
            <th>total_krw</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.timestamp }}</td>
            <td align="left">{{ transaction.div }}</td>
            <td>{{ transaction.asset_note }}</td>
            <td>{{ transaction.asset }}</td>
            <td>{{ transaction.qty }}</td>
            <td>{{ transaction.total_krw }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if has_prev_page %}
<a href="{{ url_for('transaction', page=prev_page) }}">Previous</a>
{% endif %}
<a>[{{prev_page+1}}]</a>
{% if has_next_page %}
<a href="{{ url_for('transaction', page=next_page) }}">Next</a>
{% endif %}

{% endblock %}