{% extends 'base.html' %}

{% block head %}
<title>Blockchain Connect</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/dfstyle.css') }}">
{% endblock %}

{% block body %}
<br>
<center>
    <h3>:) playground connecting Web3:: arbitrum / flare&songbird </h3>
      <pre>Address: {{ address }}</pre>
      <table>
        <tr>
          <th>network</th>
          <th>token</th>
          <th>balance</th>
          <th>unit price</th>
          <th>total</th>
        </tr>
        <tr>
          <td>flare</td>
          <td>Flare(FLR)</td>
          <td>{{ flare_balance }}</td>
          <td>{{ flr }}</td>
          <td>{{ flr_total }}</td>
        </tr>
        <tr>
          <td>flare</td>
          <td>Wrapped Flare(WFLR)</td>
          <td>{{ flare_staked }}</td>
          <td>{{ flr }}</td>
          <td>{{ wflr_total }}</td>
        </tr>
        <tr>
          <td>flare</td>
          <td>Songbird(SGB)</td>
          <td>{{songbird_balance}}</td>
          <td>{{ sgb }}</td>
          <td>{{ sgb_total }}</td>
        </tr>
        <tr>
          <td>flare</td>
          <td>Wrapped Songbird(WSGB)</td>
          <td>{{sgb_staked}}</td>
          <td>{{ sgb }}</td>
          <td>{{ wsgb_total }}</td>
        </tr>
        <tr>
          <td>arbitrum</td>
          <td>arbitrum ETH(aETH))</td>
          <td>{{ eth_balance }}</td>
          <td>{{ eth }}</td>
          <td>{{ eth_total }}</td>
        </tr>
        <tr>
          <td>arbitrum</td>
          <td>GMX.io(GMX)</td>
          <td>{{ gmx_balance }}</td>
          <td>{{ gmx  }}</td>
          <td>{{ gmx_total }}</td>
        </tr>
        <tr>
          <td>arbitrum</td>
          <td>stabked GMX(sbfGMX)</td>
          <td>{{ sbfgmx_balance }}</td>
          <td>{{ gmx }}</td>
          <td>{{ sbfgmx_total }}</td>
        </tr>

      </table>
</center>
{% endblock %}

